/* Estilização globais */

body {
  background-color: #F7F7F7;
  margin: 0px;
  margin-top: 60px;
  display: grid; 
  font-family: Arial, Helvetica, sans-serif; 
  gap: 60px; 
  justify-items: center; 
}

img {
  max-width: 100%; 
  display: block; 
}

a {
  text-decoration: none; 
}

p, h1, h2, h3 {
  margin: 0px; 
}

p {
  font-size: 20px;  
}

/*Estilização do menu*/

.menu {
  display: flex; 
  gap: 20px; 
  justify-content: center;
}

.menu a {
  text-transform: uppercase;
  background-color: #FFF;
  padding: 15px 30px;
  color: #000;
  border-radius: 4px;
}

.menu a:hover {
  background-color: #9353ff;
}

/* Estilização do conteudo */

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
}

.botao {
  background-color: #9353ff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFF;

}

.botao:hover {
  background-color: #FFF;
  color: #000;
}

/* Estilização da introdução */

.introducao {
  display: grid;
  padding: 40px;
  background-color: #FFF;
  text-align: end;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 64px;
  text-align: end;
  padding: 40px;
  align-self: center;
  color: rgba(0, 0, 0, 0.2);
}

/* Estilização das vantagens */

.vantagens {
  background-color: #FFF;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}


/*Estilização do footer*/

.rodape {
  background-color: #FFF;
  text-align: center;
  padding: 40px;
  width: 95%;
}